page {
  background-color: #eeeeee;
}
.fd_main {
  padding: 20rpx;
  color: #666;
}
.fd_main .fb_tips {
  display: flex;
  flex-wrap: wrap;
}
.fd_main .fb_tips text {
  width: 30%;
  padding: 10rpx;
  text-align: center;
  background-color: white;
  margin: 15rpx 10rpx;
}
.fd_main .fb_content {
  margin-top: 20rpx;
  background-color: white;
}
.fd_main .fb_content textarea {
  padding: 10rpx;
}
.fd_main .fb_content .fb_tool {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20rpx;
}
.fd_main .fb_content .fb_tool button {
  width: 90rpx;
  height: 90rpx;
  font-size: 60rpx;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  margin: 0;
  margin-left: 20rpx;
}
.fd_main .fb_content .fb_tool .up_img_item {
  margin-left: 20rpx;
}
.fd_main .form_btn_wrap button {
  background-color: var(--themeColor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-weight: 400;
  float: right;
  margin-top: 15rpx;
}
