page {
  background-color: #dedede;
  padding: 20rpx;
}
.search_row {
  height: 60rpx;
  display: flex;
}
.search_row input {
  flex: 1;
  height: 100%;
  background-color: white;
  padding-left: 25rpx;
  margin-right: 15rpx;
}
.search_row button {
  flex: 0 0 120rpx;
  height: 100%;
  font-size: 24rpx;
  font-weight: 400;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_content {
  margin-top: 20rpx;
}
.search_content .search_item {
  width: 100%;
  background-color: white;
  font-size: 26rpx;
  padding: 15rpx 10rpx;
  border-bottom: 1rpx solid #ccc;
  font-size: 25rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
